body{
    background-image: url(https://media.istockphoto.com/vectors/seamless-vector-geometric-golden-line-pattern-abstract-background-vector-id860606472?b=1&k=6&m=860606472&s=612x612&h=g815aMjVfCGC5XQLhr4oAoDiSY6d9L6UL2cp-LKV7rw=);
    /* margin: 0 25px; */
    line-height: 35px;
    font-family: 'Abel', sans-serif;
    font-size: large;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Prompt', sans-serif; */
    /* font-family: 'Modak', cursive; */
}

.header-cont{
    width: 100%;
    position: fixed;
    top: 0px;
}

header{
    background-image: url("header.png");
    height: 100px;
    /* margin-top: 0px; */
    width: 100%;
    opacity: .99;
    margin: 0px auto;
    /* box-shadow: 5px 5px 5px 5px #222; */
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    
}

main{
    padding: 250px 25px 0px 25px;
    height: 1200px;
}

img{
    
    width: 153px;
    height: 188px;
    margin: 15px 0 0 50px;
    border-radius: 100%;
    opacity: 0.99;
    border-image-repeat: repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin: 50px auto;
}

h3{
    font-size: 25px;
    margin: 20px auto;
    font-weight: bold;
}

b{
    padding: 5px auto;
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
}

ul{
    list-style: circle;
}

ol{
    list-style: decimal;
}

li{
    margin:5px 10px;
    font-size: 16px;
}

p{
    font-size: 20px;
}

#i{
    font-size: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 15%;
}

#black{
    color: black;
}

#magenta{
    color: magenta;
}

#indian{
    color: indianred;
}

footer {
    margin-top: 400px;
    background-color: #222;
    width: 100%;
    color: white;
    background-size: cover;
    font-family: 'Prompt', sans-serif;
    opacity: 0.5;
    padding-left: 72%;
}
